.button{
background-color: chartreuse;
height: 40px;
padding: 0 10px;
border-radius: 5px;
width: 100%;
font-size: 16px;
color: #444;
font-weight: bold;
cursor: pointer;
border: none;

}
/*
PARA ESTILIZAR O COMPONENTE, DEVERMOS DEIXAR ELE O MAIS GENERICO POSSIVEL, AFIM DE PODER REUTILIZA-LO
EM MAIS LOCAIS. LOGO, QUANDO QUISERMOS DEFINIR TAMANHO, ALTURA , JUSTIFY CONTENT ALIGN CONTENT , MARGIN LEFT POR EXEMPLO,
NAO VAMOS QUERER Q SEMPRE QUE USAR UM BOTAO ELE TENHA UMA MARGIN LEFT DE 10 PX POR EXEMPLO. CRIAMOS UM CONTAINER 
PARA A DIV, E ASSIM SIM AJUSTAMOS O COMPONENTE PARA NOSSA NECESSIDADE

NO CASO DO BOTAO, CRIOU ESSE ESTILO PARA DAR UM PADRAO A ELE, MAS OS AJUSTES FINOS SERA NA DIV 
CONTAINER ONDE ELE FOR INSTANCIADO. NO CASO UM BOTAO DESSE FOI INSTANCIADO EM AddTask. ENTAO NA ESTILIZACAO 
DESSE CONTAINER TEM UMA DIV CONTAINER PARA DEIXA O BOTAO COM ESTILO MAIS ESPECIFICO, DENTRO DESSA COMPONENTE Q ESTA USANDO O BOTAO

*/